$green: #008B6F;
$red: #E8505B;
$red-gradient: linear-gradient(45deg, $red, rgba($red, 0.5));
$green-gradient: linear-gradient(45deg, $green, rgba($green, 0.2));
$grey: #606060;
$dark-white: #f0f0f0;
$alternatives: Arial, Helvetica;

@font-face{
    font-family: 'Product';
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
}
@font-face{
    font-family: 'Product-Bold';
    src: url(../assets/fonts/Product-Bold.ttf) format('ttf')
}


body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font: 20px Product, $alternatives;
    overflow-x: hidden;
    line-height: 1.6;

    *{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        border: none;
    }

    .cta{
        background-color: $green;
        padding: 13px 2.2em;
        border-radius: 10px;
        color: white !important;
        font: Product-Bold, $alternatives;

        &:not(.small):hover{
            opacity: 0.9;
        }
        
    }
    .small{
        padding: 10px !important;
    }

    .red{
        background-color: $red;
    }


    a{
        color: inherit;
        transition: 0.2s;
        &.scale:hover{
            scale: 110%;
            font-size: 1.04rem;
            box-shadow: 0 0 5px rgba($grey, 0.1);
        }
    }
    .nav{
        text-align: center;
        padding: 20px 50px;
        width: 90%;

        & > *{
            display: inline-block;
            color: $green;
            vertical-align: middle;
        }

        .logo{
            margin-right: 0;
            float: left !important;
            cursor: pointer;
        }
        .nav-list{
            text-align: center;
            margin: 20px 0;
        }
        .right{
            margin-top: 10px;
            float: right;
            background-color: white;
            color: $red !important;
            
        }
        .top-gradient{
                z-index: -999;
                width: 400px;
                height: 400px;
                content: '';
                top: -150px;
                right: -150px;
                position: absolute;
                background: $red-gradient;
                border-radius: 50%;
                overflow: hidden;
        }
        #menu-btn{
            display: none;
        }
        #collapse-btn{
            display: none;
            transition: 0.5s;
            margin-top: 20px !important;
        }

        .nav-link{
            padding: 10px;
            border-radius: 5px;
        }
    }
    main{
        color: $grey;
        display: block;
        margin: auto auto;

        section{
            margin: 10px auto;
            display: block;
            padding: 20px 0 0;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                left: -100px;
                bottom: -150px;
                background: $green-gradient;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                z-index: -9999;
            }
        }
        section:nth-child(2n)::before{
            background: $red-gradient !important;
            scale: 130%;
            left: auto;
            right: -100px;
        }
        h1{
            font-size: calc(2.9vw + 32px);
            line-height: 1;
            position: relative;
        }
        .intro{
            width: 100%;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;

            .intro-left{
                width: 35%;
                display: inline-block;
                margin-right: 5vw;

            }
            *{
                margin: 20px 0;
            }

            h1{
                padding-bottom: 0.5em;
                position: relative;
                &::after{
                        position: absolute;
                        display: block;
                        bottom: 0;
                        content: '';
                        width: 2em;
                        height: 0.9rem;
                        border-radius: 2em;
                        background: $red;
                }
            }

            .intro-right{
                margin-left: 5vw;
                width: 40%;
                text-align: end;
                h1::after{
                    right: 0;
                    background-color: $green !important;
                }
            }
            img{
                width: auto;
                max-width: 500px;
                display: block;
            }

        }

    }
}

@media only screen and (max-width: 880px) {
    body, html {

        nav{
            display: none !important;
        }

        header.active{
            nav{
                background: white;
                float: left;
                display: flex !important;
                flex-direction: column;
                width: 80%;
                transform: translateX(-20%);
            }
            #collapse-btn{
                transform: translateY(-151%);
                transition-delay: 1sec;
                .menu-bar{
                    &:nth-child(1){
                        top: 0;
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2){
                        width: 100%;
                        top: 0;
                        transform: rotate(45deg);
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
        

        #nav-btn{
            display: none;
        }

        #collapse-btn{
            display: block !important;
            height: 30px;
            width: 40px;
            position: relative;
            background: transparent;
            .menu-bar{
                height: 5px;
                width: 100%;
                position: absolute;
                background: white;
                color: red;
                top: 0;
                left: 0;
                border-radius: 4px;
                &:nth-child(2){
                    top: 50%;
                    transform: translateY(-50%);
                    width: 90%;
                }
                &:nth-child(3){
                    width: 80%;
                    top:100%;
                    transform: translateY(-100%);
                }
            }
        }
        .top-gradient{
            transform: scale(0.6);
        }

        section::before{
            top: 50%;
        }

        .intro{
            flex-direction: column;
            box-sizing: border-box;
            padding: 0 40px;
            align-content: center;
            justify-content: center;
            text-align: center !important;
            .intro-right{
                text-align: center !important;
            }
            *{
                width: 100% !important;
            }
            h1::after{
                left: 50%;
                transform: translateX(-50%);
                scale: 60% !important;
                margin-bottom: -10px;
                opacity: 70%;
            }

        }

        .intro:nth-child(2n){
            flex-direction: column-reverse;
        }

        h1{
            font-size: 0.2em;
            line-height: 1.4em !important;
        }
    }
}

@media only screen and (max-width: 450px) {
    .nav{
        padding: 10px 10px !important;
    }
    .top-gradient{
        transform: scale(0.35) !important;
    }
}