{% extends "base.html" %}

{% block title %}
Our Journey (About): Assignment Nerd
{% endblock %}

{% block content %}
<main class="about wrapper">
    <article class="block">
        <h1>Who are we..?</h1>
        <p class="content">We're a group of writers based in India.</p>
    </article>
    <article class="block">
        <h1>Our Journey</h1>
        <p class="content">We started off as a group of 2 High-School Graduates, for helping those in need of immediate help in things they don't know, or don’t have time for. Overtime, our customers started recommending us to others, and now, we are more than happy to help more than 200+ students within a span of 6 months.</p>
    </article>
    <article class="block">
        <h1>Our vision</h1>
        <p class="content">We thrive to help as many students struggling with academics, and make assignments a blessing to them more than a burden. Students have reported that they can spend time in what they really want to do, rather than scratch their heads over the format of a logistics contract, or a calculus assessment, which they may never use in their life.</p>
        <p class="content">Over the pace of 3 months, we envision to help more than double the people we have done in the past 6 months, connecting needy students with professional writers.</p>
    </article>
</main>
{% endblock %}