{% extends "base.html" %} {% block title %} Super Affordable Assignment
Completion Service: Assignment Nerd {% endblock %} {% block content %}

<main class="wrapper index">
  <!-- 1 -->
  <section class="intro" id="1">
    <div class="intro-left">
      <h1 class="hero">Say good-bye to assingment stress</h1>
      <p class="content">
        Too many assignments, too little time? Well, don’t worry cause you’ve
        reached the right place. Leave the stress behind. Get professional help
        for your assignments.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta red"
        >Try it out..</a
      >
    </div>
    <img
      src="./static/assets/images/intro/1.png"
      alt="Stress Buster Image"
      class="intro-right"
    />
  </section>
  <!-- 2 -->
  <section class="intro" id="2">
    <img
      src="./static/assets/images/intro/2.png"
      alt="Stress Buster Image"
      class="intro-left"
    />
    <div class="intro-right">
      <h1 class="hero">Zero Plagiarism Assurity</h1>
      <p class="content">
        We work very hard to ensure that the work we do for you is authentic,
        and original. Keeping no stones unturned, so you get nothing but
        original.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta"
        >I'm in for it..</a
      >
    </div>
  </section>
  <!-- 3 -->
  <section class="intro" id="3">
    <div class="intro-left">
      <h1 class="hero">Unlimited ways to customize, get it done your way.</h1>
      <p class="content">
        Whether you want your assignment in PPT, Word Document or even in Excel
        format, we’ve got you covered. We even make custom illustrations for
        making the work more attractive and eye-catchy.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta red"
        >Try it out..</a
      >
    </div>
    <img
      src="./static/assets/images/intro/3.png"
      alt="Stress Buster Image"
      class="intro-right"
    />
  </section>
  <!-- 4 -->
  <section class="intro" id="4">
    <img
      src="./static/assets/images/intro/4.png"
      alt="Stress Buster Image"
      class="intro-left"
    />
    <div class="intro-right">
      <h1 class="hero">Unlimited edits, make last minute changes</h1>
      <p class="content">
        Either it’s a very rare typo, or a major change of topic, we can do it
        all. Still not satisfied? Request a full re-write of the assignment at
        no extra cost.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta"
        >Sign Me Up!</a
      >
    </div>
  </section>
  <!-- 5 -->
  <section class="intro" id="5">
    <div class="intro-left">
      <h1 class="hero">Always well under the deadlines</h1>
      <p class="content">
        The heading says it all. With over 280 assignments and counting, we’ve
        never failed to deliver on the deadlines.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta red"
        >Try it out..</a
      >
    </div>
    <img
      src="./static/assets/images/intro/5.png"
      alt="Stress Buster Image"
      class="intro-right"
    />
  </section>
  <!-- 6 -->
  <section class="intro" id="6">
    <img
      src="./static/assets/images/intro/6.png"
      alt="Stress Buster Image"
      class="intro-left"
    />
    <div class="intro-right">
      <h1 class="hero">The most experienced team you can find</h1>
      <p class="content">
        Our team of industry experts will definitely land your assignment in the
        top lists. With over 7 years of experience in writing assignments, you
        could surely leave it up to us.
      </p>
      <a
        href="https://wa.me/message/4SBCCYBE7464O1"
        title="Chat on WhatsApp!"
        class="cta"
        >I'm in for it..</a
      >
    </div>
  </section>
  <section class="stretch">
    <h1>What services we offer..</h1>
    <h3>An assignment may include the following:</h3>
    <div class="services">
      <span class="one-col">
        <div class="service">Reaserch</div>
        <div class="service">Homework</div>
        <div class="service">English Writing</div>
        <div class="service">Article</div>
        <div class="service">Blogspot</div>
        <div class="service">Resume / CV</div>
        <div class="service">Cover Letter</div>
        <div class="service">Thesis</div>
        <div class="service">Essay</div>
        <div class="service">Tutorials</div>
        <div class="service">Powerpoint</div>
        <div class="service">PPT</div>
        <div class="service">MindMaps</div>
        <div class="service">Personal Statements</div>
        <div class="service">Motivation Letter</div>
        <div class="service">Business Propsal</div>
        <div class="service">Business Portofolio</div>
        <div class="service">Interview</div>
        <div class="service">Preparation for Internship / Job</div>
        <div class="service">Practical Files</div>
        <div class="service">Python</div>
        <div class="service">HTML</div>
        <div class="service">CSS</div>
        <div class="service">Javascript</div>
        <div class="service">React JS</div>
      </span>
    </div>
    <h3>And, much more...</h3>
    <h1>In numerous Subjects</h1>
    <div class="services">
      <span class="one-col">
        <div class="service">English</div>
        <div class="service">Pshycology</div>
        <div class="service">Logic</div>
        <div class="service">Biology</div>
        <div class="service">Chemistry</div>
        <div class="service">Computer Science</div>
        <div class="service">Physics</div>
        <div class="service">Business Studies</div>
        <div class="service">Management</div>
        <div class="service">Physical Education</div>
        <div class="service">Law</div>
        <div class="service">Political Sciences</div>
        <div class="service">EVS</div>
        <div class="service">Humanities</div>
        <div class="service">Commerce</div>
        <div class="service">Philosophy</div>
        <div class="service">Botany</div>
        <div class="service">Zoology</div>
        <div class="service">Arts & Humanitites</div>
        <div class="service">Building and Planning</div>
        <div class="service">Computer and IT</div>
        <div class="service">Design</div>
        <div class="service">Nursing</div>
        <div class="service">Councelling</div>
        <div class="service">Social Science</div>
        <div class="service">Technology</div>
        <div class="service">Music</div>
        <div class="service">Philanthropy</div>
        <div class="service">Literature</div>
        <div class="service">Ethics</div>
        <div class="service">Data Analysis</div>
        <div class="service">Architecture</div>
        <div class="service">Communications</div>
        <div class="service">Language</div>
      </span>
    </div>
    <p>And Much More..</p>
  </section>
  <section class="reviews-section">
    <h1>What our customers say..</h1>
    <h3>Hear from the people that had past experiences with us.</h3>
    <div class="reviews">
      <article class="review">
        A friend of mine suggested these people for getting my assignments done.
        Trust me these people are a blessing in disguise! You better believe me
        on this, they’ll provide the best work.
        <span class="right-align">- Anushka Rathi, Jaipur, India</span>
      </article>
      <article class="review">
        I am a first year management student who though loves her subject but
        the assignments were a nightmare. I’m so glad I found Assignment.Nerd on
        instagram. Seriously the best things that happened to me in 2020. Thank
        you guys for existing and saving my ass all the time ❤️.
        <span class="right-align">- Michelle Osman, Washington DC</span>
      </article>
      <article class="review">
        From being a clueless backbencher to scoring the highest in my class,
        the journey has been all because of these people. Thank you doing my
        assignments and helping with my tests. Wont ever forget this. Greatful.
        <span class="right-align">- Mallory Romero, Ontario, Canada</span>
      </article>
    </div>
    <!-- TrustBox widget - Micro Review Count -->
    <div
      class="trustpilot-widget"
      data-locale="en-US"
      data-template-id="5419b6a8b0d04a076446a9ad"
      data-businessunit-id="61e41e720f84079c6cb1263a"
      data-style-height="24px"
      data-style-width="100%"
      data-theme="light"
      data-min-review-count="10"
    >
      <a
        href="https://www.trustpilot.com/review/assignmentnerd.tech"
        target="_blank"
        rel="noopener"
        >Trustpilot</a
      >
    </div>
    <!-- End TrustBox widget -->
    <h1>So, what're you waiting for..?</h1>
    <p>So, what're you waiting for? Get your assignments done today!</p>
    <a
      href="https://wa.me/message/4SBCCYBE7464O1"
      title="Chat on WhatsApp!"
      class="cta red"
      >Get it done Now!</a
    >
  </section>
</main>

{% endblock %} {% block script %}
<script>
  const replicateClasses = [
    [".services", 3],
    [".one-col", 2],
  ];

  replicateClasses.forEach((list) => {
    const nodes = document.querySelectorAll(list[0]);
    nodes.forEach((node) =>
      [...Array(list[1])].forEach((_) =>
        node.parentNode.insertBefore(node.cloneNode(true), node)
      )
    );
  });
</script>
{% endblock %}
