{% extends "base.html" %}

{% block title %}
Terms and Conditions: Assignment Nerd
{% endblock %}

{% block content %}
<main class="wrapper tandc">
    <article id="general">
        <h1>General Terms and Condition</h1>
        <p>These terms and conditions apply for all working for/taking service from us.</p>
        <ol>
            <li>'The Assignment Nerd' holds the right to change the terms and conditions without prior notice.</li>
            <li>If you take service from 'The Assignment Nerd', it is assumed that you have read the Terms and Conditions and have agreed to them.</li>
            <li>Refunds will never be given in money, i.e., once a payment has been made and a refund has been asked for, it will only be given in the form of service, for example, concession in the next assignment.</li>
        </ol>
    </article>
    <article id="client">
        <h1>Client-specific Terms and Condition</h1>
        <p>These terms and conditions apply when the client (someone who is giving an assingment, etc. to complete) is taking service.</p>
        <ol>
            <li>Work will only be started once at-least half (50%) of the payment is made in advance.</li>
            <li>'The Assignment Nerd' will not be held liable in any case the client has told them to take service from them and has not made the minimum=advance payment, and is expecting that the work has started.</li>
            <li>The 'days until deadline' are counted when the payment has been made, i.e, if the current day is 2nd of the month, and the deadline is 10th, but the advance payment is only made on 4th, then the prices would be calculated accoring to deadline from 4th to 10th, no matter the date that 'The Assignment Nerd' has been informed about the same.</li>
            <li>'The Assignment Nerd' reserves full right to decline the assignment, whether ongoing, or prior to starting, within atmost 4-hours after the payment has been made.</li>
            <li>The price for each work depend upon many factors, including the deadline, the word count, the amount of customization, the subject, etc. Therefore, 'The Assignment Nerd' reserves the right to change the price for the same word count on different assignments.</li>
            <li>The prices stated for each assignment means the amount that 'The Assignment Nerd' should recieve, i.e., it does/will not compensate/include for the currency-conversion fee, taxes, etc.</li>
        </ol>
    </article>
    <article id="writer">
        <h1>Writer-specific Terms and Condition</h1>
        <ol>
            <li>Any amount of payment will only be initiated when the work has been done. 'The Assignment Nerd' will not be held liable in any case of mistunderstanding/mis-communication for the same.</li>
            <li>'The Assignment Nerd' reserves full right to cancel, post-pone or advance the deadline as per the request of the client without early notice, though will be bought to attention of the writer as soon as possible.</li>
            <li>The writer can be de-considered before the finalization of the work if he/she does not make contact for at-least 8 hours after the last sent message/made call, except when any amount of payment has been made.</li>
            <li>Once a payment amount has been finalized, the writer can not ask for any extra amount of money, and has to do all revisions/changes within the given budget unless the word-count has increased, ot the deadline has been shortened by at-least 50% of the prior.</li>
        </ol>
    </article>
</main>
{% endblock %}